ASSIGNMENT 1(track: AIML)

Name: Sudarsanaa C R (21BDS0143)

In [1]:
import pandas as pd
import numpy as np
# Task 1: Create a pandas DataFrame
data = {
    'Feature1': np.random.rand(10),
    'Feature2': np.random.randint(1, 100, 10),
    'Feature3': np.random.choice(['A', 'B', 'C'], 10),
    'Feature4': np.random.randn(10),
    'Feature5': np.random.choice([True, False], 10)
}

df = pd.DataFrame(data)

In [2]:
# Task 2: Check the info of 'df'
print("Task 2:")
print(df.info())

Task 2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Feature1  10 non-null     float64
 1   Feature2  10 non-null     int64
 2   Feature3  10 non-null     object
 3   Feature4  10 non-null     float64
 4   Feature5  10 non-null     bool
dtypes: bool(1), float64(2), int64(1), object(1)
memory usage: 458.0+ bytes
None

In [3]:
# Task 3: Check the descriptive statistics of 'df'
print("\nTask 3:")
print(df.describe())

Task 3:
        Feature1   Feature2   Feature4
count  10.000000  10.000000  10.000000
mean    0.428859  53.300000  -0.252368
std     0.253754  29.112998   0.655318
min     0.063977  24.000000  -1.335478
25%     0.310071  27.250000  -0.689570
50%     0.359941  46.500000  -0.123859
75%     0.505270  73.250000   0.169583
max     0.979178  97.000000   0.847217

In [4]:
# Task 4: Check the 4th index observation with 'loc' slicing operator
print("\nTask 4:")
print(df.loc[4])

Task 4:
Feature1    0.663439
Feature2          35
Feature3           B
Feature4    0.250349
Feature5       False
Name: 4, dtype: object

In [5]:
# Task 5: Check the null values in 'df'
print("\nTask 5:")
print(df.isnull().sum())

Task 5:
Feature1    0
Feature2    0
Feature3    0
Feature4    0
Feature5    0
dtype: int64